.container{
    margin: 20px 40px;
    display: flex;
    justify-content:space-evenly;
}

textarea{
    height: 500px;
    width: 700px;
}

.output-text{
    padding:20px;
    width: 750px;
    height: 600px;
    border-radius: 10px;
    background-color: darkgrey;
}

*{
    background-color: blue;
    color: white;
}

.input-text{
    font-size: larger;
    padding:20px;
}

.input{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}